*{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	/*transition: all .2s linear;*/
	text-transform: capitalize;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}

.navbar{
	z-index: 1000;
	background: #131313;
	padding: 1rem 8rem;
}
.navbar .navbar-brand{
	font-size: 1.4rem;
	font-weight: 700;
}

.navbarContent > a{
	background: #00BF85;
	font-weight: 600;
	padding: 0.4rem 1.4rem;
	border-radius: 30px;
	color: #fff;
	border: none;
}

.navbarContent > a:hover{
	background-color: #fff;
	color: #000;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
	font-size: 1.1rem;
	padding: 0 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a:active{
	color: #00BF85;
}

.header-section{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}
.header-section #myvideo{
	width: 100%;
	height: 100%;
	pointer-events: none;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.header-section .hero{
	position: relative;
}
.header-section .hero p{
	width: 55%;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	padding-bottom: 1rem;
}

.header-section .hero a{
	background: #00BF85;
	font-weight: 600;
	padding: 0.6rem 1.4rem;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
}
.header-section .hero a:hover{
	background-color: #fff;
	color: #000;
}

/*about section*/

.about{
	background-color: #040A0C;
}

.about .text{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.about .text h6{
	color: #00BF7F;
	font-weight: 800;
	font-size: 1rem;
	letter-spacing: 2px;
}

.about .text h2{
	color: #ccc;
	font-weight: 700;
	font-size: 2.7rem;
	opacity: .5;
}

.about .text p{
	color: #aaa;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}

.about .text a{
	background: #00BF85;
	font-weight: 600;
	padding: 0.5rem 1.4rem;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
}
.about .text a:hover{
	background-color: #fff;
	color: #000;
}

/*discovery section*/

.discovery{

}

.discovery .text{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.discovery .text h6{
	color: #00BF7F;
	font-weight: 800;
	font-size: 1rem;
	letter-spacing: 2px;
}

.discovery .text h2{
	color: #ccc;
	font-weight: 700;
	font-size: 2.7rem;
}

.discovery .text p{
	color: #aaa;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}

.discovery .text a{
	background: #00BF85;
	font-weight: 400;
	padding: 0.5rem 1.4rem;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
}
.discovery .text a:hover{
	background-color: #000;
	color: #fff;
}

/*service section*/

.service{
	background-color: #000;
}
.service .one{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem 1.5rem;
	border-radius: 7px;
}

.service .one img{
	width: 100%;
	height: 130px;
}

.service .one p{
	font-size: 0.9rem;
}
.service .one a{
	background: #00BF85;
	font-weight: 400;
	padding: 0.2rem 5rem;
	font-size: 0.9rem;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
}

.service .one a:hover{
	background-color: #000;
	color: #fff;
}

/*signup section*/

.about .signup a{
	background: #00BF85;
	font-weight: 400;
	padding: 0.5rem 1.4rem;
	border-radius: 30px;
	color: #fff;
	text-decoration: none;
}
.about .signup a:hover{
	background-color: #000;
	color: #fff;
}

/*footer section*/

.copyright{
	background-color: rgba(0, 0, 0, 0.1);
}

.social-icons i{
	transition: 0.5s;
}
.social-icons i:hover{
	transform: scale(1.5);
}

/*responsiveness for tablet and mobile*/

@media screen and (max-width:  988px){
	.navbar{
		padding: 1rem;
	}

#navbarSupportedContent > ul{
	padding-left: 0.8rem;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
	padding: 0.8rem 0;
}
#home > div > h2{
	font-size: 2.5rem;
}
#home > div > p{
	font-size: 1rem;
}
#home > div > a{
	font-size: 0.9rem;
}

}













